.header {
    background-color: $primary_color;
    font-family: $montserrat_font;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1rem 10%;
    color: $white_color;
    &-nav {
        display: flex;
        justify-content: space-evenly;
        gap: 25px;
        align-items: center;
        a {
            height: 80px;
            display: flex;
            align-items: center;
            img {
                height: 50%;
            }
        }
        &__list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            display: flex;
            gap: 25px;
            &__item {
                list-style: none;
                a {
                    color: $white_color;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &-singed-out {
        display: flex;
        gap: 25px;
        justify-content: space-between;
        align-items: center;
        a {
            color: $white_color;
            text-decoration: none;
        }
    }
}