.header {
    background-color: $primary_color;
    font-family: $montserrat_font;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 1rem 10vw;
    color: $white_color;
    position:sticky;
    top: 0;
    a {
        height: inherit;
        display: flex;
        align-items: center;
        img {
            height: 50%;
        }
    }

    &-nav {
        height: inherit;
        display: none;
        justify-content: space-evenly;
        gap: 25px;
        align-items: center;
        @media only screen and (min-width: 1200px) {
            display: flex;
        }
        &__list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 25px;
            &__item {
                list-style: none;
                a {
                    color: $white_color;
                    text-decoration: none;
                    
                }
            }
        }
    }
    &-signed-out {
        display: none;
        gap: 20px;
        justify-content: space-between;
        align-items: center;

        @media only screen and (min-width: 1200px) {
            display: flex;
        }
        a {
            color: $white_color;
            text-decoration: none;
            &.button--empty {
                box-shadow:0px 0px 0px 1px $white_color;
                padding: 12px 16px;
                border-radius: 3px;
                transition: 400ms;
                &:hover {
                    box-shadow: 0px 0px 0px 2px $white_color;
                    transition: 400ms;
                }
            }
            &.button--full {
                box-shadow:0px 0px 0px 1px $white_color;
                padding: 12px 16px;
                color: $primary_color;
                background-color: $white_color;
                border-radius: 3px;
                transition: 400ms ;
                &:hover {
                    box-shadow: 0px 0px 0px 2px $white_color;;
                    transition: 400mss ;
                }
            }
        }   
    }
    .link--unique:hover {
        text-decoration: underline;
    }
    &-hamburguer {
        display: flex;
        height: 50%;
        @media only screen and (min-width: 1200px) {
            display: none;
        }
    }
}